publicdataservicetester/web references/pubdatasrv/PublicDataServiceImp.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PublicDataServiceImp" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:54841/PublicDataService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:54841/PublicDataService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:54841/PublicDataService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:54841/PublicDataService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/PublicDataService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPublicDataServiceImp_MnbGetCurrentExchangeRates_InputMessage">
    <wsdl:part name="parameters" element="tns:MnbGetCurrentExchangeRates" />
  </wsdl:message>
  <wsdl:message name="IPublicDataServiceImp_MnbGetCurrentExchangeRates_OutputMessage">
    <wsdl:part name="parameters" element="tns:MnbGetCurrentExchangeRatesResponse" />
  </wsdl:message>
  <wsdl:message name="IPublicDataServiceImp_MnbGetExchangeRates_InputMessage">
    <wsdl:part name="parameters" element="tns:MnbGetExchangeRates" />
  </wsdl:message>
  <wsdl:message name="IPublicDataServiceImp_MnbGetExchangeRates_OutputMessage">
    <wsdl:part name="parameters" element="tns:MnbGetExchangeRatesResponse" />
  </wsdl:message>
  <wsdl:message name="IPublicDataServiceImp_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IPublicDataServiceImp_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:portType name="IPublicDataServiceImp">
    <wsdl:operation name="MnbGetCurrentExchangeRates">
      <wsdl:input wsaw:Action="http://tempuri.org/IPublicDataServiceImp/MnbGetCurrentExchangeRates" message="tns:IPublicDataServiceImp_MnbGetCurrentExchangeRates_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPublicDataServiceImp/MnbGetCurrentExchangeRatesResponse" message="tns:IPublicDataServiceImp_MnbGetCurrentExchangeRates_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MnbGetExchangeRates">
      <wsdl:input wsaw:Action="http://tempuri.org/IPublicDataServiceImp/MnbGetExchangeRates" message="tns:IPublicDataServiceImp_MnbGetExchangeRates_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPublicDataServiceImp/MnbGetExchangeRatesResponse" message="tns:IPublicDataServiceImp_MnbGetExchangeRates_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IPublicDataServiceImp/GetDataUsingDataContract" message="tns:IPublicDataServiceImp_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPublicDataServiceImp/GetDataUsingDataContractResponse" message="tns:IPublicDataServiceImp_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="soap" type="tns:IPublicDataServiceImp">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MnbGetCurrentExchangeRates">
      <soap:operation soapAction="http://tempuri.org/IPublicDataServiceImp/MnbGetCurrentExchangeRates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MnbGetExchangeRates">
      <soap:operation soapAction="http://tempuri.org/IPublicDataServiceImp/MnbGetExchangeRates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IPublicDataServiceImp/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PublicDataServiceImp">
    <wsdl:port name="soap" binding="tns:soap">
      <soap:address location="http://localhost:54841/PublicDataService.svc/soap" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>